<!DOCTYPE html>
<html>

<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<div ng-app="myApp" ng-controller="myCtrl">

  Name : <input type="name" ng-bind="name"/> <button ng-click="Add()">Add</button>
	<p ng-show="name"</p>
  <h2>Names are : </h2>
  <ul>
     <li ng-repeat="name in names">{{name}}</li>
  </ul>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.names=["SKC","SK"];
    $scope.Add=function(){
		alert($scope.name);
		$scope.names.push($scope.name);
		$scope.name="";
    }
});
</script>

</body>
</html>
